*{
	margin:0%;
	padding:0%;
	font-family:monospace;
	background-color:;
	background-attachment:fixed;
}

body{
		background-color:silver;
		background-image:url("sbg.png");
		background-size:cover;
		background-position:center;
		position:relative;
}		



h1{
	padding-left:32%;
	background-color:#88808080;
	font-family:monospace;
	height:auto;
	width:auto;
	text-decoration-color:red;
	opacity:100%;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:-2%;
	
}


h1 p b{
	color:#ffcccf;
}

ul li{
	list-style-type:none;
	display:inline-block;
	margin-left:15%;
	margin-right:-5%;
	margin-top:2%;
	padding:1%;
	background-color:#88808080;
	font-style:normal;
	font-stretch:;
	font-weight:bolder;
	color:#ffcccf;
	backface-visibility:15%;
}

m{
	list-style:lower-greek;
	display:inline-block;
	margin-top:1%;
	padding:1px;
	background-color:#ffcccf;
	width:100%;
	background-opacity:5%;
}
m2{list-style:lower-greek;
	display:inline-block;
	margin-top:%;
	padding:1px;
	background-color:#ffcccf;
	width:100%;
	background-opacity:5%;

}

	
	//----------------------------\\{}
	
div{
	margin:5%;
	color:#ffcccf;
	
}

sw{
	color:white;
	background-color:blue;
	
}

sw swh{
		font-size:large;
		
}

bl{
	color:black;
}